.DS_Store
node_modules/
/dist/
build/
logs/
User/
npm-debug.log*https://github.com/hamzaabamboo/vishnu_1.git
yarn-debug.log*
yarn-error.log*
npm-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
